*
{
	margin: 0px;
	outline: 0px;
	padding: 0px;
	box-sizing:border-box;
}



#logo
{
	display: block;
	height: 200px;
	width: 200px;

}

 .login_form, .relogin_form , .add_buyer_form, .add_item_form, .delete_buyer_form, .delete_item_form
{
	margin-left: 500px;

}


.label
{
	display: inline-block;
	width: 130px;
	font-family:inherit;
  	font-size: inherit
}

.text , .password
{
	margin: 10px 0;
	height: 35px;
	border-radius: 5px;
	border: solid thin #aaa;
	padding: 10px;
	
	border: 2px solid #eee;
	border-bottom:1px solid #eee;
	border-radius:10px;


}

.submit
{
	margin-top: 5px;
	appearance:none;
	-webkit-appearance:none;
	/* usual styles */
  	padding: 10px;
  	border: none;
  	background-color: #3F51B5;
  	color: #fff;
  	font-weight: 600;
  	border-radius: 5px;
  	width: 16%;

}


.logout

{
	height: 5%;
	width: 5%;
	position: absolute;
	top: 5px;
	right: 5px;
}

.button

{
	appearance:none;
  -webkit-appearance:none;

  /* usual styles */
  padding:10px;
  border:none;
 
  color:#fff;
  font-weight:100;
  border-radius:5px;
  width:7%;


}

.item

{
	border:1px solid black;
	display: inline-block;
	margin: 5px;
	width:350px;
	border-radius: 5px;

	
}

.item_row

{
	border-top:1px solid grey;
	width:100%;
	padding: 5px;

}

.item_img

{

	height: 150px;
	width: 150px;
	padding: 5px;
}


.link

{
	text-decoration: none;
	color: black;}

	a:hover{background-color: green};



#exit_title
{
	position: absolute;
	left:35%;
	top:20%;
}



nav{

	flex: 1;
	text-align: right;
}

nav ul
{
	display: inline-block;
	list-style-type: none;
}

nav ul li
{
	display: inline-block;
	margin-right: 20px;

}


a
{
	text-decoration: none;
	color: #555;
}

p
{
	color: #555;
}

.container
{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	top: 5px;
	right: 30;
}	

